openapi: 3.1.0

info:
  title: Lectores Beta API
  version: 0.1.0
  description: |
    Contrato público del backend de Lectores Beta.

    La semántica de cada operación (autorización, reglas de negocio, efectos) se documenta
    en `docs/api/endpoints/`. Este fichero define únicamente la forma de las peticiones y
    las respuestas.

    Estado: esqueleto. Las operaciones se añaden conforme su funcionalidad alcanza
    `spec_status: APPROVED` en `docs/features/README.md`.

servers:
  - url: https://api.lectoresbeta.com/api/v1
    description: Producción
  - url: http://localhost:8000/api/v1
    description: Desarrollo

tags:
  - name: Auth
    description: Registro, login y recuperación de contraseña
  - name: Account
    description: Cuenta, preferencias y página de autor
  - name: Works
    description: Obras, fragmentos, cuestionario y enlaces
  - name: Reading
    description: Accesos de lector beta, grupos y writing buddies
  - name: Feedback
    description: Comentarios, respuestas y valoraciones
  - name: Community
    description: Muro, publicaciones, mensajes directos y rankings
  - name: Credits
    description: Saldo e historial de créditos
  - name: Notifications
    description: Notificaciones y preferencias
  - name: Health
    description: Salud del sistema. Fuera de la versión de la API

security:
  - bearerAuth: []

paths:

  # —— Salud ————————————————————————————————————————————————————————————
  # Fuera de `/api/v1`: cada operación declara sus propios `servers`, porque
  # la dirección de una sonda no puede cambiar con la versión de la API.

  /health:
    $ref: './paths/health.yaml#/ready'

  /health/live:
    $ref: './paths/health.yaml#/live'

  # —— Primer corte de implementación ——————————————————————————————————
  # Registro → activación → abono de bienvenida. Atraviesa User, Notification
  # y Credits, y prueba el camino asíncrono entre contextos.

  /auth/register:
    $ref: './paths/auth.yaml#/register'

  /auth/activate:
    $ref: './paths/auth.yaml#/activate'

  /auth/activation/resend:
    $ref: './paths/auth.yaml#/resend'

  /auth/login:
    $ref: './paths/auth.yaml#/login'

  /auth/refresh:
    $ref: './paths/auth.yaml#/refresh'

  /auth/logout:
    $ref: './paths/auth.yaml#/logout'

  /me/onboarding:
    $ref: './paths/onboarding.yaml#/state'

  /me/onboarding/profile:
    $ref: './paths/onboarding.yaml#/profile'

  /me/onboarding/genres:
    $ref: './paths/onboarding.yaml#/genres'

  /genres:
    $ref: './paths/onboarding.yaml#/catalogue'

  /me/profile:
    $ref: './paths/settings.yaml#/myProfile'

  /me/privacy-settings:
    $ref: './paths/settings.yaml#/privacySettings'

  /users/{userId}:
    $ref: './paths/profiles.yaml#/byUserId'

  /profiles/{username}:
    $ref: './paths/profiles.yaml#/byUsername'

  /works:
    $ref: './paths/works.yaml#/collection'

  /works/{workId}:
    $ref: './paths/works.yaml#/work'

  /chapters/{chapterId}:
    $ref: './paths/works.yaml#/chapter'

  /works/{workId}/chapters:
    $ref: './paths/works.yaml#/chapters'

  /works/{workId}/status:
    $ref: './paths/works.yaml#/status'

  /works/{workId}/access-mode:
    $ref: './paths/works.yaml#/accessMode'

  /works/{workId}/genres:
    $ref: './paths/works.yaml#/genres'

  /works/{workId}/content-rating:
    $ref: './paths/works.yaml#/contentRating'

  /content-warnings:
    $ref: './paths/works.yaml#/contentWarnings'

  /works/{workId}/access-requests:
    $ref: './paths/reading.yaml#/collection'

  /me/access-requests:
    $ref: './paths/reading.yaml#/mine'

  /access-requests/{requestId}:
    $ref: './paths/reading.yaml#/request'

  /access-requests/{requestId}/resolution:
    $ref: './paths/reading.yaml#/resolution'

  /works/{workId}/beta-reader-invitations:
    $ref: './paths/reading.yaml#/invitations'

  /me/beta-reader-invitations:
    $ref: './paths/reading.yaml#/myInvitations'

  /beta-reader-invitations/{invitationId}:
    $ref: './paths/reading.yaml#/invitation'

  /beta-reader-invitations/{invitationId}/resolution:
    $ref: './paths/reading.yaml#/invitationResolution'

  /works/{workId}/invitable-readers:
    $ref: './paths/reading.yaml#/invitableReaders'

  /works/{workId}/questionnaire:
    $ref: './paths/works.yaml#/questionnaire'

  /chapters/{chapterId}/questionnaire:
    $ref: './paths/corrections.yaml#/questionnaire'

  /chapters/{chapterId}/corrections:
    $ref: './paths/corrections.yaml#/collection'

  /chapters/{chapterId}/corrections/start:
    $ref: './paths/corrections.yaml#/start'

  /chapters/{chapterId}/correction/draft:
    $ref: './paths/corrections.yaml#/draft'

  /credits/balance:
    $ref: './paths/credits.yaml#/balance'

  /auth/oauth/{provider}/callback:
    $ref: './paths/auth.yaml#/oauthCallback'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT de **15 minutos** más un token de refresco revocable
        (`decision:0007`).

        Consecuencia que conviene conocer: **la revocación tarda hasta ese
        cuarto de hora**. Se asume a cambio de no mantener estado de sesión.
        Las operaciones de **escritura** comprueban además el estado de la
        cuenta contra la base de datos, así que para ellas la ventana es cero:
        nadie publica ni corrige quince minutos después de ser expulsado.

        El token **no lleva roles ni datos personales**: meter roles en él
        haría que un permiso retirado siguiera vigente hasta su caducidad.

  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      required: false
      description: Cursor opaco devuelto en `pageInfo.nextCursor`.
      schema:
        type: string

  schemas:

    HealthStatus:
      type: string
      enum: [up, down, skipped]
      description: |
        `skipped` es un chequeo que no aplica —no hay RabbitMQ al que llegar
        cuando el transporte configurado es in-memory—. **No cuenta como
        fallo**: la diferencia entre «funciona» y «no se ha preguntado»
        importa.

    HealthCheckResult:
      type: object
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/HealthStatus'
        durationMs:
          type: number
          format: double
          description: Lo que tardó el chequeo, en milisegundos.
        detail:
          type: string
          description: |
            Solo aparece cuando hay algo que explicar que no revele nada:
            por qué un chequeo se ha saltado, por ejemplo. **Nunca contiene el
            mensaje de un error**, porque este endpoint es público.

    HealthReport:
      type: object
      required: [status, checkedAt, checks]
      properties:
        status:
          $ref: '#/components/schemas/HealthStatus'
          description: |
            Pesimista: una sola dependencia caída basta para que sea `down`.
        checkedAt:
          $ref: '#/components/schemas/Timestamp'
        checks:
          type: object
          description: Cada dependencia, por su nombre estable.
          additionalProperties:
            $ref: '#/components/schemas/HealthCheckResult'

    Uuid:
      type: string
      format: uuid
      description: UUID v7.
      examples: ['0192f8a1-4c3b-7e2a-9f10-6b5d2c8e4a71']

    Timestamp:
      type: string
      format: date-time
      examples: ['2026-09-21T10:15:30Z']

    Session:
      type: object
      required: [accessToken, refreshToken, expiresIn]
      properties:
        accessToken:
          type: string
          description: JWT. Caduca a los 900 segundos.
        refreshToken:
          type: string
          description: Revocable. Es el único elemento de la sesión con estado.
        expiresIn:
          type: integer
          examples: [900]

    LegalAcceptance:
      type: object
      description: |
        Versiones concretas aceptadas. Se guarda **la versión**, no una
        referencia genérica al documento: si no, la aceptación no demuestra
        qué se aceptó (`FEAT-USR-024` `RN-T3`).
      required: [termsOfUse, privacyPolicy]
      properties:
        termsOfUse:
          type: string
          examples: ['2026-01-15']
        privacyPolicy:
          type: string
          examples: ['2026-01-15']

    RegisterRequest:
      type: object
      required: [email, password, acceptedLegalVersions]
      properties:
        email:
          type: string
          format: email
          maxLength: 254
        password:
          type: string
          minLength: 8
          maxLength: 4096
          description: |
            No se devuelve nunca, no se registra en logs y no viaja en ningún
            evento.
        acceptedLegalVersions:
          $ref: '#/components/schemas/LegalAcceptance'

    PageInfo:
      type: object
      required: [hasNextPage]
      properties:
        nextCursor:
          type: [string, 'null']
        hasNextPage:
          type: boolean

    Problem:
      type: object
      description: |
        Error según RFC 9457. **Nunca** expone trazas, SQL, nombres de clase
        internos ni rutas de fichero (`AGENTS.md`).
      required: [type, title, status, code]
      properties:
        type:
          type: string
          format: uri
          examples: ['https://api.lectoresbeta.com/problems/validation-error']
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: string
          description: |
            Estable y legible por máquina. **El cliente decide por `code`**,
            nunca por `title` ni por `detail`, que son para personas y pueden
            cambiar sin que sea un cambio incompatible.
          examples: ['WEAK_PASSWORD']
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'

    FieldError:
      type: object
      required: [field, code]
      properties:
        field:
          type: string
        code:
          type: string
        message:
          type: string

    Visibility:
      type: string
      enum: [VISIBLE, HIDDEN]

    BetaReaderAccessMode:
      type: string
      enum: [PUBLIC, ON_REQUEST, PRIVATE]

    TextTier:
      type: string
      description: Nivel de extensión del texto. Ver docs/bounded-contexts/credits.md.
      enum:
        - MICRO_STORY
        - BRIEF_TALE
        - SHORT_STORY
        - MEDIUM_TALE
        - LONG_TALE
        - MICRO_NOVEL
        - SHORT_NOVEL
        - MEDIUM_NOVEL

    RequestStatus:
      type: string
      enum: [PENDING, ACCEPTED, REJECTED, CANCELLED, EXPIRED]

    PostType:
      type: string
      enum:
        - GENERAL
        - LOOKING_FOR_BETA_READERS
        - LOOKING_FOR_WRITING_BUDDY
        - OFFERING_AS_BETA_READER

  responses:
    BadRequest:
      description: Petición malformada
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: Sin autenticar
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: Sin permiso
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: No existe, o no debe revelarse que existe
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Conflict:
      description: Conflicto con el estado actual
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    UnprocessableEntity:
      description: Contenido inválido o regla de negocio incumplida
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

    ValidationError:
      description: La petición no cumple las reglas de validación.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    TooManyRequests:
      description: Se ha superado el límite de frecuencia.
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
